.current-time-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: red;
  z-index: 5;
}

.current-time-line .dot {
  width: 8px;
  height: 8px;
  background: red;
  borderradius: 50%;
  position: absolute;
  left: -4px;
  top: -3px;
}
