:root {
  --bg-main: #0b0f14;
  --bg-panel: #111827;
  --bg-card: #161e2e;
  --border: #1f2937;

  --text-primary: #e5e7eb;
  --text-secondary: #9ca3af;

  --blue: #3b82f6;
  --green: #22c55e;
  --purple: #8b5cf6;
  --orange: #f97316;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-primary);
  font-family: Inter, system-ui, -apple-system, sans-serif;
}

.board::-webkit-scrollbar {
  height: 8px;
}

.board::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}
